#chart-ctr {
    position:fixed;
    width:80%;
    height:100%;
    top:0px;
    left:130px;
    z-index:1;
    opacity:0.8;
    visibility:hidden;
    background-color:white;
}
#chart-ctr h1 {
    font-size: 16px;
    font-family: nouveau_ibm;
    text-align: center;
}
#chart {
    border: solid 1px #efdacd;
}
#chart .node circle {
    fill: black;
}
#chart .node text {
    font-family: nouveau_ibm;
    font-size: 12px;
}
#chart .link {
    stroke: #666666;
    stroke-width: 1px;
}
