#hublot-ctr {
    flex: 1 1 auto;
    overflow-x: auto;
    margin:0px;
    padding:0px;
}
header { flex: 0 0 auto;}
#hublot{ flex: 0 0 auto;}
footer { flex: 0 0 auto;}

#hublot{
    font-family: nouveau_ibm; 
    flex-wrap: wrap;
    height: 100%;
    overflow-y:auto;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:80px;
}
#hublot button { 
    font-family: nouveau_ibm;
    background-color:#000000;
    color:#ffffff;
    padding:10px;
    border:none;
}

#hublot div{
    color:black;
}

#hublot h1{
    font-family: hyperspace;
    font-size: 35px;
    margin: 8px;
}

#hublot p {
    max-width:450px;
    margin: 10px;
    text-align:justify;
    text-justify: inter-word;
    word-wrap: break-word;
    font-family: nouveau_ibm;
    font-size:18px;
}

#hublot figure {
    flex: 0 0 auto;
    padding: 0px;
    margin: 15px;
    border: solid 1px;
    border-color: white;
}
#hublot figure img {
    display: inline;
    margin: 5px;
}
#hublot figure figcaption {
    font-family: nouveau_ibm;
    font-size: 12px;
    color: #E74F2C;
    padding: 5px;
    text-align: center;
    border-top: solid 1px;
    border-color: white;
}

#hublot pre {
    color:#5BA591;
    padding:20px;
    background-color: #232327;
}
#hublot pre code {
    font-family: nouveau_ibm;
    font-size: 14px;
}

.body_mJax {
    visibility: hidden;
}
