@font-face {
    font-family:"hyperspace";
    src: url("/surf/media/fonts/hyperspace/Hyperspace_Bold.otf");
}
@font-face {
    font-family:"libertine";
    src: url("/surf/media/fonts/LinLibertine/LinLibertine_Rah.ttf");
}
@font-face {
    font-family:"nouveau_ibm";
    src: url("/surf/media/fonts/nouveau_ibm/Nouveau_IBM.ttf");
}
@font-face {
    font-family:"symbolism";
    src: url('/surf/media/fonts/symbolism/Symbolism.ttf');
}
@font-face {
    font-family:"bowman";
    src: url('/surf/media/fonts/bowman/Bowman.ttf');
}
@font-face {
    font-family:"cone";
    src: url('/surf/media/fonts/cone/Cone.ttf');
}
@font-face {
    font-family:"nimbus";
    src: url('/surf/media/fonts/nimbus/nimbusmono-regular.otf');
}
@font-face {
    font-family:"old-standard";
    src: url('/surf/media/fonts/old-standard/oldstandard-2.0.2.ttf/OldStandard-Regular.ttf');
}
@font-face {
    font-family:"anonymous-pro";
    src: url('/surf/media/fonts/anonymous-pro/Anonymous_Pro.ttf');
}
@font-face {
    font-family:"iosevka";
    src: url('/surf/media/fonts/iosevka/iosevka-regular.ttf');
}
