html,body {
    height: 100%;
    width: 100%;
    background-color:white;
    margin: 0px;
}
#body-ctr {
    height: 100%;
    width:100%;
}
.flex-ctr-v {
    display: flex;
    flex-flow: column wrap;
}
.flex-ctr-h {
    display: flex;
    flex-flow: row wrap;
}

#home {
    display: inline;
    width:60px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left:40px;
    cursor: zoom-in;
}

#page-ctr {
    flex-grow: 1;
}

header {
    flex-grow: 0;
    padding-left: 0px;
    margin-left: 0px;
    margin-top:10px;
    margin-bottom: 10px;
}

#page {
    flex-grow: 1;
    background-color: #eee;
}

header a { 
    font-family: nouveau_ibm;
    display: inline;
    font-size: 16px;
    background-color:#000000;
    color:#ffffff;
    border: 1px;
    margin-left: 1px;
    padding:5px;
    text-decoration: none;
}

