html, body {
    height: 100% !important;
    max-width: 100%;
    background-color:white;
    margin: 0px;
}

.fullH {
    min-height: 100% ;
}

header {
    position: sticky;
    top: 0;
    flex-grow: 0;
    justify-content: flex-end;
}
footer {
    position: sticky;
    bottom: 0;
    justify-content: space-between;
}
header, footer {
    z-index: 1;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.page {
    padding: 10px;
    max-width: 700px;
}

.flex-ctr-v {
    display: flex;
    flex-flow: column;
}
.flex-ctr-h {
    display: flex;
    flex-flow: row;
}
.grow {
    flex-grow: 1;
}
.shrink {
    flex-shrink: 1;
}

#home {
    display: block;
    max-width:40px;
    max-height: 40px;
    width:auto;
    padding:10px;
    cursor: zoom-in;
}
