#nav span {
    cursor: zoom-in;
}

#nav button {
    font-family: nouveau_ibm;
    color: #684b27;
    background-color: #eee7df;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#nav-ctl {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.nav-item {
    padding: 3px;
    border: 1px solid #eee7d6;
}

.nav-focus {
    border: 2px solid #ddd6e5 !important;
}

.nav-moving {
    border: 2px solid #ccc5b4 !important;
}

.nav-item:hover > .nav-slot {
    display: block;
}

.nav-slot {
    display: none;
    margin-left: 5px;
    margin-right: 30px;
    height: 4px;
    background-color: #eee7d6;
}
.nav-slot:hover {
    background-color: #ddd6e5 !important;
    cursor: crosshair;
}

.doc a {
    color: #774545;
}

.child a {
    color: #6b5a53;
}

#askName {
    padding-left: 5px;
}

#askName input {
    text-align: right;
    width: 120px;
}
