.page {
    border: 2px solid #fff8e7;
    padding: 20px;
}

.page * {
    font-family: liberation-serif;
}

.page p {
    text-align: justify;
}

.page h1, .page h2, .page h3 {
    margin-top: 40px;
    font-family: bowman;
    font-weight: normal;
}

#page textarea {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 5px;
    border: 1.5px solid #eee7d6;
    font-family: iosevka;
}

.page code {
    font-size: 16px;
    font-family: iosevka;
    background-color: #faf8f5;
}
.page pre {
    background-color: #faf8f5;
}
.page a {
    color: #5f5f52;
}
#view {
    opacity: 0.9;
    background-color: #faf8f5;
}
#middle-ctr button {
    margin-left: 2px;
}

.jam-hide-title {
    font-weight: bold;
    color: #7a7a7a;
}
.jam-div-title {
    font-weight: bold;
}
.jam-hide-body, .jam-div-body {
    margin-left: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-left: 1px solid #eee7d6;
}
.jam-hide-body {
    color: #606060;
}
