#page {
    border: 2px solid #fff8e7;
}

#page * {
    font-family: nouveau_ibm;
}

#page textarea {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 5px;
    border: 1.5px solid #eee7d6;
    font-family: bowman;
}

.doc a, .section a {
    text-decoration: none;
}

.doc a {
    color: #8e341e;
}

.section a {
    color: #254d79;
}
