.page {
    border: 2px solid #fff8e7;
}

.page * {
    font-family: libertine;
}

#page textarea {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 5px;
    border: 1.5px solid #eee7d6;
    font-family: bowman;
}

.page pre, .page code {
    font-family: anonymous-pro;
    background-color: #faf8f5;
    padding: 3px;
}

#view {
    opacity: 0.9;
    background-color: #faf8f5;
}
#middle-ctr button {
    margin-left: 2px;
}

.page .def {
    padding: 10px;
    border: 2px solid #fff8e7;
}

.page .prop {
    padding: 10px;
    border: 2px solid #eee7d6;
}

.page .thm {
    padding: 10px;
    border: 2px solid #ddd6c5;
}
