header * {
    font-family: nouveau_ibm;
}

header h1 {
    font-family: bowman;
    font-size: 22px;
    margin: auto;
}

footer * {
    font-family: nouveau_ibm;
    color: #684b27;
}

footer button {
    background-color: #eee7df;
    border: none;
    padding: 5px;
}

footer input {
    border: 1px solid #eee7df;
}
